USE [master]
GO
/****** Object:  Database [filesharing]    Script Date: 03/12/2021 21:44:25 ******/
CREATE DATABASE [filesharing] ON  PRIMARY 
( NAME = N'filesharing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\filesharing.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'filesharing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\filesharing_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [filesharing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [filesharing]
GO
/****** Object:  Table [dbo].[tblFiles]    Script Date: 03/12/2021 21:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ContentType] [nvarchar](200) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[created_on] [datetime] NOT NULL,
 CONSTRAINT [PK_tblFiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblFiles] ON
SET IDENTITY_INSERT [dbo].[tblFiles] OFF
/****** Object:  Table [dbo].[REGISTRATION_TBL]    Script Date: 03/12/2021 21:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTRATION_TBL](
	[SRNO] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [varchar](200) NULL,
	[EMAIL] [varchar](100) NULL,
	[MOBILENO] [varchar](10) NULL,
	[PASSWORD] [varchar](max) NULL,
	[RECORD_CREATED_ON] [datetime] NULL,
 CONSTRAINT [PK_REGISTRATION_TBL] PRIMARY KEY CLUSTERED 
(
	[SRNO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[REGISTRATION_TBL] ON
INSERT [dbo].[REGISTRATION_TBL] ([SRNO], [FULL_NAME], [EMAIL], [MOBILENO], [PASSWORD], [RECORD_CREATED_ON]) VALUES (1, N'Prafulla', N'a@a.com', N'9923661382', N'e2fc714c4727ee9395f324cd2e7f331f', CAST(0x0000ACE9012785E2 AS DateTime))
SET IDENTITY_INSERT [dbo].[REGISTRATION_TBL] OFF
